.profile {
    width: calc(100% - 38px);
    margin: 0 auto;
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 900px) {
    .profile {
        width: 100%;
        padding-top: 40px;
        display: grid;
        grid-template-columns: 120px 1fr 150px;
        grid-template-areas: 
        "avatar info add-button";
    }
}
