.auth__submit-button {
    width: 100%;
    height: 46px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity .5s ease;
    padding: 0;
    margin: 143px 0 0;
    border: none;
}

.auth__submit-button:hover {
    opacity: 0.85;
}

@media screen and (min-width: 900px) {
    .auth__submit-button {
        height: 50px;
        font-size: 18px;
        line-height: 1.22;
        margin: 186px 0 0;
    }
}