.auth__title {
    font-family: inherit;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
    text-align: center;
    padding: 0;
    margin: 0 0 40px;
}

@media screen and (min-width: 900px) {
    .auth__title {
        font-size: 24px;
        margin: 0 0 50px;
    }
}