.header__user-email {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    text-align: right;
    margin: 0;
    padding: 0 24px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 900px) {
    .header__user-email {
        font-size: 18px;
    }
}